body {
    background: url(../images/datawall.jpg)
    no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
}

#timer {
    font-size: 40px;
}

.question, .trivia {
    font-size: 30px;
    text-align: center;
}

.answer {
    font-size: 20px;
    width: 40%;
    margin-left: 30%;
}

.answer:hover {
    background: lightblue;
    border:1px solid darkblue;
}

.start, .reset {
    font-size: 30px;
}